#root {
    color-scheme: light dark;
    height: 100%;
}

html,
body,
#root {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    background: whitesmoke;
    color: #111;
    overflow: hidden;
}